
/* Google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');


/* Main Html */

#preloader{
    background: #000 url(images/circle-loader-gif-2.gif) no-repeat center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

*{
    margin: 0;
    padding:0;
}

html, body{
  width: 100%;
  height: 100%;
  font-family:'Roboto', sans-serif;
  background-color: rgb(223, 223, 223);
  overflow-x: hidden;
}

  .header{
    text-align: center;
    color: azure;
    font-size: 30px;
     margin: 0 auto;
     width: 50%;
     padding: 10px;
     padding-top: 20%;
     padding-bottom: 20%;
     min-height: 80vh;
}

 #ems :hover{
  border-bottom: 1px solid blue;
 }


em{
   text-align: center;
}

.column{
   text-align: center;
   color: azure;
}

ul li{
  list-style: none;
}

h1,h2,h3,h4,h5{
   font-family: 'lato', sans-serif;
}


button{
  color: gray;
}

footer{
  padding: 2px;
}


/* Nav-bar styles */

a:hover {
  cursor: pointer;
  color: blue;
  opacity: 5;
  border-bottom: rgb(74, 74, 255);
}


a {
  opacity: 1.0;
  transition: 0.3s;
}

nav a{
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 5px;
}

.container-fluid{
   width: fit-content;
   font-size: 40px;
}

  .navbar-brand{
   font-size: 40px;
 }

 /* section styles */

  section, h1{
    color: rgb(104, 104, 104);
  }

  .section-styles{
    text-align: center;
    display: inline-block;
  }


/* paragrapghs main html */

.info{
  color: azure;
  font-size: 20px;
  background-color:rgb(141, 169, 221);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  
}


/* Background-image styles */

.background{
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/1102672.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow-y: auto;
    
}

/* socials styling */


  .socials{
    color: rgb(168, 168, 168);
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 25%;
    font-size: 30px;
    text-decoration: none;
    text-align: center;

  } 


/* About us styles */

.about-start{
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  margin: 5px;
}

.p-about{
  padding-top: 5px;
  margin: 5px;
}


div h4{
  font-size: 25px;
  background-color:rgb(155, 185, 241);
}

div .container em{
  font-size: 20px;
}


/* Contact styles */

#subject {
  background-color: azure;
}

#submit:hover{
    color: azure;
}

label{
  color:rgb(104, 104, 104);
  float: left;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(180, 178, 178);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

h2{
  font-size: 40px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

input[type=submit]:hover {
  background-color:blue;
}

.container {
  border-radius: 5px;
  background-color: rgb(155, 185, 241);
  padding: 10px;
  box-shadow: 0 0 20px rgba(61, 61, 61, 0.4); 
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

input[type=submit] {
  cursor: pointer;
  background-color: azure;
  padding: 10px 20px;
  border: 1px solid;
  color: rgb(133, 134, 134);
}

#topic{
  background-color: azure;
}
 
 /* Responsive layout - when the screen is less than 600px wide,  */

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
 
/* Destinations styles */

.d-styles{
  color: rgb(133, 134, 134);
  font-size: 25px;
  padding: 5px;
}

/* used to center and align all content neatly */

.text-align{
  text-align: justify;
  text-justify: auto;
}


/* Gallery styles */
/* <!-- inspired from css tricks and W3C Schools --> */

.gallery{
  text-align:center;
}

.dot {
  cursor: pointer;
  margin: 0 2px;
  background-color: rgb(197, 195, 195);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  width: 15px;
  height: 15px;
}

div .text{
  font-size: 25px;
  text-shadow: 1px 1px rgb(219, 230, 230);
}

* {
    box-sizing: border-box;
  }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .next {
  top: 50%;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: azure;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.prev:hover, .next:hover {
  background-color:rgb(132, 132, 255);
}


.text {
  color: azure;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8px;
}

.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  color:azure;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(197, 195, 195);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
}

@-webkit-keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

/* Site link styles */

.siteLinks a{
  font-family:'Lato', sans-serif;
  text-decoration: none;
  color: azure;
  font-size: 30px;
  display: block;
}

.siteLinks a:hover{
  color: blue;
}

/* sign up letter styles
/*  */

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: azure;
}

#terms{
  padding: 10px;
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  margin-bottom: 25px;
}


div .clearfix button {
  background-color: azure;
  color: rgb(133, 134, 134);
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

div .clearfix button:hover {
  opacity:1;
  background-color: blue;
  color: azure;
}

.cancelbtn {
  padding: 14px 20px;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* /* responsive for different screens */

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


/* loader styles */

.fade-in{
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  font-size: 35px;
}

.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(155, 185, 241);
  z-index: 200;
  color: azure;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: -10;
  color: azure;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn{
  to{
     opacity: 1;
  
  }
}

/* date and time button styles button styles*/

#timE{
  padding: 5px;
}

#timE:hover{
  color:azure;
  background-color: blue;
}

/* footer styles */

 .footStyles {
  min-height: 1vh;
}

div .socials{
  min-height: 1vh;
}

