@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

/* Main Html */

*{
    margin: 0;
    padding:0;
}

html, body{
  width: 100%;
  height:100%;
  font-family:'Roboto', sans-serif;
  background-color: rgb(216, 227, 250);
  
}

  .header{
    text-align: center;
    color: azure;
    font-size: 40px;
     margin: 0 auto;
     width: 50%;
     padding: 10px;
     padding-top: 20%;
     padding-bottom: 20%;
}

em{
  text-align: center;
}

.column{
  text-align: center;
  color: azure;
}

ul li{
  list-style: none;
}

h1,h2,h3,h4,h5{
   font-family: sans-serif;
}

.nav{
  color: azure;
}


/* Nav-bar styles */
/* nav a{
  color: azure;
  background-color: beige;
} */

.container-fluid{
   width: fit-content;
   font-size: 40px;
}

 .navbar-brand{
   font-size: 40px;
 }

 /* section styles */
  section, h1{
    color: rgb(104, 104, 104);
  }

  .section-styles{
    text-align: center;
    display: inline-block;
  }


/* paragrapghs main html */

.info{
  color: rgb(128, 126, 126);
  font-size: 25px;
}


/* Background-image styles */
.background{
    height: 100%;
    width: 100%;
    background-image: url(images/1102672.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow-y: auto;
    
}
.background2{
  height: 50%;
  width: 100%;
  background-image: url(images/aj-wallace-ql_jf8EzSec-unsplash.jpg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  overflow-y: auto;
  
}

 /* Socials styling */


 .social:hover{
   color: rgb(235, 211, 182);
   
  
 }

  .socials{
    color: rgb(168, 168, 168);
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 25%;
    font-size: 40px;
    text-decoration: none;
  }


  .socials2{
    padding-right: 3px;
    margin-right: 3px;
    text-align: right;
    width: 25%;
    float: right;
   
  }

  a:hover {
    cursor: pointer;
    color: blanchedalmond;
  }


/* .socials{
   display: none;
} */



/* About us styles */

.about-start{
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  margin: 5px;
}

.p-about{
  padding-top: 5px;
  margin: 5px;
}

#about{
  background-color: rgb(216, 227, 250);
}


/* Contact styles */
label{
  color:rgb(104, 104, 104);
  float: left;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(180, 178, 178);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

h2{
  font-size: 40px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

input[type=submit]:hover {
  background-color: rgb(253, 200, 200);
}


.container {
  border-radius: 5px;
  background-color: azure;
  padding: 10px;
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


input[type=submit] {
  cursor: pointer;
  background-color: rgb(216, 227, 250);
  padding: 10px 20px;
  border: 1px solid;
  color: rgb(133, 134, 134);
}


 /* Responsive layout - when the screen is less than 600px wide,  */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* Destinations styles */
.d-styles{
  color: azure;
  font-size: 50px;
  
  
}







